@import url("https://fonts.googleapis.com/css?family=Raleway:300,700");
* {
  box-sizing: border-box;
}
body, html {
	height: 100%;
	margin: 0;
	font: 400 15px/1.8 "Avenir", sans-serif;
	color: white;
}



.sidebar {

	opacity: 0.95;
 	font-family: "Raleway", sans-serif;
  	font-size: 1em;
  	background: #111;
  	-webkit-box-flex: 1;
    	-ms-flex: 1 1 5%;
    	flex: 1 1 5%;
	min-width: 300px;
	padding: 1em;
}

.logo {
	text-transform: uppercase;
	margin-bottom: 1em;
}
@media (min-width: 1500px) {
	.logo {
		margin-bottom: 5em;
	}
}
.logo span {
	font-weight: 700;
}

.nav-item {
	color: #737373;
	text-decoration: none;
	font-size: 1rem;
	display: inline-block;
	margin-right: 2em;
}
@media (min-width: 1500px) {
	.nav-item {
		display: block;
		margin: 7vh 0;
	}
}
.nav-item.active {
	color: #c4c4c4;
}

.nav-item a {
	color: white;
	text-decoration: none;
}


.nav-item li {
    float: left;
}

.nav-item li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav-item a:hover {
    background-color: white;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
	position: relative;
	opacity: 0.80;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bgimg-1 {
	opacity:.85;
	background-image: url("../img/first.jpg");
	min-height: 100%;
}

.bgimg-2 {
	background: white;
	min-height: 100%;
}

.bgimg-3 {
	background-image: url("../img/walls.jpeg");
	min-height: 20%;
}

.bgimg-4 {
	background-image: url("../img/city2.jpeg");
	opacity:0.9;
	height: 100%;
}

.bgimg-5 {
	background: white;
	min-height: 20%;
}

.first {
	position: absolute;
	top: 25%;
	width: 100%;
	text-align: center;
	color: #000;
}

.contents {
	display: block;
	margin: auto;
	max-width: 35vw;
	opacity: 0.9;
	color: #FFF;
	background-color: #111;
	text-align: center;
	padding: 20px;
}
	.contents h1 {
	 	font-family: "Raleway", sans-serif;
		font-size: 5vw;
	}
	.contents h2 {
		font-size: 1.5vw;
		padding-bottom: 10px;
	}
	.contents h3 {
		font-size: 1.5vw;
	}
	.contents a {
		color:white;
	}

	.line {
	    display: block;
	    margin:auto;
	    text-align:center;
	    width: 27vw;
	    height: 2px;
	    border: 0;
	    border-top: 2.5px solid #FFF;
	    margin: 1px 0;
	    padding-top: 3.5px;
	}

.objective {
	color: #FFF;
	background-color: #111;
	opacity: .85;
	text-align: center;
	padding: 60px 80px;
	text-align: justify;
}
	.objective h1{
		padding:0px 120px;
		letter-spacing: 8px;
		font: 25px "Lato", sans-serif;
		color: #FFF;
	}
	.objective p{
		padding:0px 120px 0px 120px;
	}


.title{
	padding:50px 80px;
}
	.title h1 {
		letter-spacing: 8px;
		font: 25px "Lato", sans-serif;
		color: #FFF;
	}
	.title h2 {
		display: block;
		max-width: 80%;
		margin: auto;
		padding: 30px 0px 20px 0px;
		letter-spacing: 8px;
		font: 25px "Lato", sans-serif;
		color: #FFF;
	}

.education {
	display: block;
	margin: auto;
	max-width: 80%;
	color: #FFF;
	background-image: url("../img/laptop.jpg");
	text-align: center;
	padding: 50px 150px 60px;
	text-align: justify;

	position: relative;
	opacity: 1;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.work {
	display: block;
	margin: auto;
	max-width: 80%;
	color: #777;
	background-color: white;
	text-align: justify;
	padding: 50px 70px;

}

.leadership {
	display: block;
	margin: auto;
	max-width: 80%;
	color: #FFF;
	background-image: url("../img/leader.png");
	text-align: center;
	padding: 50px 100px 60px;
	text-align: justify;

	position: relative;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}



.caption {
	position: absolute;
	left: 0;
	top: 10%;
	width: 100%;
	color: #000;
}
.caption span.border {
	display: block;
	background-color: #111;
	color: #fff;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 0px;
	opacity: 0.9;
}
.caption p{
	font-size:20px;
	color: white;
	letter-spacing: 3px;
	text-shadow: -1px 1px 2px black;
	padding: 10px 50px 50px 50px;
}



/* FLIP CARD */
/* entire container, keeps perspective */
.flip-container {
	display: inline-block;
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 175px;
	height: 175px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}